<section class="login">
    <div *ngIf="!islogin" class="alert alert-danger">Wrong Login Credentials!Please try again.</div>
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
        <form class="form-container" #myForm="ngForm"> 
            <div class="form-group">
                <label for="email">Email ID:*</label>
                <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your email" name="email" required #email="ngModel" required [(ngModel)]="emailid">
                <small id="help" class="form-text-muted">We'll never share your email with anyone else.</small>
                <div class="alert alert-danger" *ngIf="email.invalid && email.dirty">abc@abc.com format required</div>
               </div>
              <label for="password">Password:*</label>
              <input type="password" class="form-control"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              placeholder="Enter your password" name="password" required [(ngModel)]="password">
              <small id="help" class="form-text-muted">Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters</small>
            <input type="button" (click)="check()" class="btn btn-success w-100"[disabled]="!myForm.form.valid" type="submit" value="Submit">
            <small id="help" class="form-text-muted">* indicates required fields</small>
            </form>
        </div>    
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    </div>

</section>
